[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-q = "*"
redis = "*"
bs4 = "*"
cymon = "*"
lxml = "*"
pillow = "*"
pytesseract = "*"
requests = "*"
dnspython = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"