{% extends "base_generic.html" %}

{% block pagetitle %}Password Reset Confirmed{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table style="width:55%;border: none; margin-left: 23%;">
                <tr>
                    <td style="border-bottom: 0;text-align: center">{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td style="border-bottom: 0;">{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td style="border-bottom: 0;text-align: center">{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td style="border-bottom: 0;">{{ form.new_password2 }}</td>
                </tr>
            </table>
            <br />
            <input type="submit" class="button" value="Change my password" />
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}