{% extends "base_generic.html" %}

{% block pagetitle %}Domains Current Checked Out{% endblock %}

{% block content %}
    <h2>Active Domains</h2>
    {% if domain_list %}
        <p>These domains are checked-out for projects:</p>
        <br />
        <table>
            <tr>
                <th>Domain</th>
                <th>Status</th>
                <th>Operator</th>
                <th>Health</th>
                <th>DNS Health</th>
                <th>Whois Privacy</th>
                <th>Notes</th>
            </tr>
            {% for domain in domain_list %}
                <tr>
                    <td><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></td>

                    {% if domain.domain_status.domain_status == "Available" %}
                        <td style="color: green">{{ domain.domain_status }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.domain_status }}</td>
                    {% endif %}

                    <td>{{ domain.last_used_by }}</td>

                    {% if domain.health_status.health_status == "Healthy" %}
                        <td style="color: green">{{ domain.health_status }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.health_status }}</td>
                    {% endif %}

                    {% ifequal domain.health_dns "Healthy" %}
                        <td style="color: green">{{ domain.health_dns }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.health_dns }}</td>
                    {% endifequal %}

                    {% ifequal domain.whois_status.whois_status "Enabled" %}
                        <td style="color: green">{{ domain.whois_status }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.whois_status }}</td>
                    {% endifequal %}

                    <td>{{ domain.note }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no domains checked-out right now.</p>
    {% endif %}
{% endblock %}
