{% extends "base_generic.html" %}

{% block pagetitle %}Domain Catalog{% endblock %}

{% block content %}
    <h2>All Registered Domains</h2>
    {% if domain_list %}
        <br />
        <table>
            <tr>
                <th>Domain</th>
                <th>Status</th>
                <th>Health</th>
                <th>DNS Health</th>
                <th>Whois Privacy</th>
                <th>Purchase Date</th>
                <th>Notes</th>
                <th style="text-align: center">Check-out</th>
            </tr>
            {% for domain in domain_list %}
                <tr>
                    <td><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></td>

                    {% if domain.domain_status.domain_status == "Available" %}
                        <td style="color: green">{{ domain.domain_status }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.domain_status }}</td>
                    {% endif %}

                    {% if domain.health_status.health_status == "Healthy" %}
                        <td style="color: green">{{ domain.health_status }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.health_status }}</td>
                    {% endif %}

                    {% ifequal domain.health_dns "Healthy" %}
                        <td style="color: green">{{ domain.health_dns }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.health_dns }}</td>
                    {% endifequal %}

                    {% ifequal domain.whois "Enabled" %}
                        <td style="color: green">{{ domain.whois }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.whois }}</td>
                    {% endifequal %}

                    <td>{{ domain.creation }}</td>
                    <td>{{ domain.note }}</td>
                    {% if domain.domain_status.domain_status == "Available" %}
                        <td style="text-align: center"><a href="{% url 'checkout' domain.id %}" class="button">Check-out</button></td>
                    {% elif domain.domain_status.domain_status == "Reserved" %}
                        <td style="text-align: center"><a href="{% url 'history_create' domain.id %}" class="button">Release</button></td>
                    {% else %}
                        <td style="text-align: center">This domain is unavailable.</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no domains in the catalog yet.</p>
    {% endif %}
{% endblock %}
