{% extends "base_generic.html" %}

{% block pagetitle %}Domain Entry{% endblock %}

{% block content %}
    <style>
        th {
            background-color: #fafafa;
            color: black;
        }
        th:hover {background-color:#f5f5f5;}
    </style>
    <h2>Create Individual Domain</h2>
    <p>Use this form to create a single domain:</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br />
        <input type="submit" class="button" value="Submit">
    </form>
{% endblock %}
