{% extends "base_generic.html" %}

{% block pagetitle %}Reserved Domains, the Domain Waiting Room{% endblock %}

{% block content %}
    <h2>Reserved Domains</h2>
    {% if domain_list %}
        <p>The following domains have been flagged as "Reserved" are are temporarily unavailable for projects:</p>
        <table>
            <tr>
                <th>Domain</th>
                <th>Status</th>
                <th>Health</th>
                <th>DNS Health</th>
                <th>Whois Privacy</th>
                <th>Purchase Date</th>
                <th>Notes</th>
                <th style="text-align: center">Release</th>
            </tr>
            {% for domain in domain_list %}
                <tr>
                    <td><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></td>

                    <td>{{ domain.domain_status }}</td>

                    {% if domain.health_status.health_status == "Healthy" %}
                        <td style="color: green">{{ domain.health_status }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.health_status }}</td>
                    {% endif %}

                    {% ifequal domain.health_dns "Healthy" %}
                        <td style="color: green">{{ domain.health_dns }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.health_dns }}</td>
                    {% endifequal %}

                    {% ifequal domain.whois "Enabled" %}
                        <td style="color: green">{{ domain.whois }}</td>
                    {% else %}
                        <td style="color: red">{{ domain.whois }}</td>
                    {% endifequal %}

                    <td>{{ domain.creation }}</td>
                    <td>{{ domain.note }}</td>

                    {% if perms.catalog.can_mark_reserved %}
                        <td style="text-align: center"><button class="button">Release</button></td>
                    {% else %}
                        <td style="text-align: center">You are not authorized to release domains</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no reserved domains.</p>
    {% endif %}
{% endblock %}
 